<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <link type="text/css" href="css/min.css" rel="stylesheet" />
    <link type="text/css" href="css/loginStyle.css" rel="stylesheet" />
</head>
<body>
<br>
<h1  style = "text-align:center">请选择正确的文件上传</h1>
<div class="container" align="center">
    <div class="col-md-6" style="margin-top: 15%;">
        <div class="inset">
            <form action="test/uploadHtml" method="post" enctype="multipart/form-data">
                <input type="file" name="file">
                <input type="submit" value="上传">
            </form>
        </div>
    </div>
</div>

</body>
</html>